$base-color: #01BAB3;
$base-color-trans: rgba(1, 186, 179, 0.1);

$font-dark: black;
$font-light: white;
$w-form: 500px;
$size: 414px;
$fsize-main: 16px;
$fsize-small: 14px;
$fsize-big: 20px;
$mtop: 15px;
$in-height: 30px;

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(124, 220, 216);
    background: linear-gradient(90deg, rgba(124, 220, 216, 1) 0%, rgba(255, 255, 255, 1) 17%, rgba(1, 186, 179, 1) 39%, rgba(168, 243, 255, 1) 89%, rgba(0, 212, 255, 1) 100%);
}

::placeholder {
    color: $base-color;
}

:focus {
    background-color: $base-color-trans;
    border: 1px solid $base-color;
    border-color: $base-color;
    border-radius: 5px;
    outline: 0;
}

.form_auth_block {
    width: 100vw;
    height: 50%;
    background-color: white;
}

.form_auth_block_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_auth_block_head_text {
    font-size: 20px;
    font-weight: 600;
}

.form_auth_block label {
    display: block;
    text-align: center;
    font-weight: 600;
}

.form_auth_block input {
    display: block;

    border-radius: 10px;
    border: none;
    outline: none;
    max-width: 100%;
    height: $in-height;
    border-radius: 5px;
    border: 1px solid $base-color;
    font-size: $fsize-main;
    padding-left: 25px;
    color: $font-dark;
}



.form_auth_button {
    width: 207px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #01BAB3;
    background: #01BAB3;
    color: $font-light;
    font-size: $fsize-main;
    margin-top: $mtop;
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: $base-color;
}

// Это стили для placeholder
::-moz-placeholder {
    color: $base-color;
}

// Это стили для placeholder
:-moz-placeholder {
    color: $base-color;
}

// Это стили для placeholder
:-ms-input-placeholder {
    color: $base-color;
}

// Это стили для placeholder