//fonts
@font-face {
    font-family: "Mont";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/Montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Mont";
    font-weight: 600;
    font-style: normal;
    src: url("/fonts/Montserrat/static/Montserrat-SemiBold.ttf");
}