.head {
    position: fixed;
    top: 0;
    background-color: $base-color;
    width: 100%;
    height: 50px;
    color: $font-light;
    @include fontReg();
    font-size: $fsizeText;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    z-index: 50;

    .role {
        cursor: default;
    }

    .logout {
        @include icon(30px, 30px);
        background-image: url(/img/Exit.svg);
        
    }
}