$base-color: #03045E;
$base-color-trans: rgba(1, 186, 179, 0.1);
$dark-thirdly: #0077B6;
$light-secondary-color: #CAF0F8;
$fsizeTable: 16px;

$font-dark: black;
$font-light: white;

//text size
$fsizeH2: 24px;
$fsizeH1: 30px;
$fsizeText: 20px;
//box size
$heightInputText: 40px;
$widthInputText: 400px;
$buttonHeight: 40px;
$buttonWidth: 400px;