<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../scssA/style.css">
    <style>
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd;
        }

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }

        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>
</head>

<body>
    <div class="block">
        <h1>
            <%= title%>
        </h1>

        <div class="dropdown">
            <button class="dropbtn" id="btnAddQue">Добавить вопрос</button>
            <div class="dropdown-content">
                <a href="#">Единичный выбор</a>
                <a href="#">Множественный выбор</a>
                <a href="#">Короткий ответ</a>
            </div>
        </div>
        <div class="que">


        </div>
    </div>
    <div class="modal-container">
        <button class="modalBtn" id="add_test_button" style="width: 100px;">add</button>
        <div id="modalAddQue" class="modal ">
            <div class="modal-content  form_addperson_block_content">
                <div class="modal-header">
                    <span id="closeAddQue" class="close">&times;</span>
                    <h2>Шапка модального окна</h2>
                </div>
                <div class="modal-body">
                    <!--<p>Какой-то текст в теле модального окна</p>
                    <p>Ещё другой текст...</p>-->
    
                    <!--<div class="form_addperson_block_content">-->
                    <div class="size">
                        <p id="name">Добавление нового вопроса с единичный выбором</p>
                        <form id="form_add_que" name="my" class="form_addperson_style" action="" method="post">
                            <div class="area">
                                <label>Текст вопроса</label>
                                <input type="text" name="text" placeholder="Введите текст" required autocomplete="off">
                            </div>
                            <div class="area">
                                <label>Число баллов</label>
                                <input type="number" name="count" placeholder="1" value="1">
                            </div>
                            <div class="variants" class="area">
                                <div>
    
                                    <input type="radio" name="check_ans" value="1" />
                                    <label>Правильный</label>
    
                                    <input type="text" name="ans_1" placeholder="Вариант ответа" autocomplete="off">
                                </div>
                                <div>
    
                                    <input type="radio" name="check_ans" value="2" checked />
                                    <label>Правильный</label>
                                    <input type="text" name="ans_2" placeholder="Вариант ответа" autocomplete="off">
                                </div>
    
                            </div>
                            <button id="add_new_var">Добавить вариант ответа</button>
                            <button class="form_addperson_button" type="submit"
                                name="form_addcurse_submit">Добавить</button>
                    </div>
                    </form>
                    <!--</div>-->
                </div>
    
            </div>
        </div>
    </div>
    
    <script defer>
        let count_radio = 2;
        let add_var = document.getElementById('add_new_var');
        console.log(add_var);
        let block_variants = document.querySelector(".variants");
        console.log(block_variants);

        add_var.onclick = function (e) {
            e.preventDefault();
            count_radio++;
            let div = document.createElement('div');
            div.className = "alert";
            div.innerHTML = `<input type='radio' name='check_ans' value='${count_radio}' checked /> 
            <label>Правильный</label>
            <input type='text' name='ans_${count_radio}' placeholder='Вариант ответа'>`;
            block_variants.append(div);
        }
        let form_add_que = document.getElementById('form_add_que');
        form_add_que.onsubmit = async (e) => {
            e.preventDefault();
            let count = block_variants.childElementCount;

            let question = {
                type: 1,
                que_text: form_add_que.text.value,
                score: form_add_que.count.value,
                count_var: count,
                ans: []
            };
            for (let div of block_variants.children) {
                let text = div.lastElementChild.value;
                let check = null;
                if (div.firstElementChild.checked) {
                    check = 1;
                } else {
                    check = 0
                }
                question.ans.push({ text: text, val: check })

                console.log(div.firstElementChild.checked)

            }
            console.log(question);
            let jsonquestion = JSON.stringify(question);
            fetch('/add-question-one', {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json; charset=UTF-8"
                },
                body: jsonquestion
            })
                .then(function () {
                    console.log("я обновляю");
                    document.location.reload;
                    console.log("я обновил");
                });
        }

    </script>
    <script src="../admin.js" defer></script>
</body>

</html>