<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tiny.cloud/1/ytqbq5zd4935d6hk3g64gxi2hs08ogl4wlrfheojpv3sz66k/tinymce/6/tinymce.min.js"
        referrerpolicy="origin" referrerpolicy="origin"></script>


    <link rel="stylesheet" href="scss/style.css">
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'charmap image link lists media table visualblocks',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | image media table | align lineheight | numlist bullist indent outdent | charmap | removeformat',
            
            language: 'ru',
            images_upload_url: '/teach-uploadimg',
            
        });
        
        
    </script>
    <script src="app.js" defer></script>
</head>

<body>

    <h1 id="title_course"><%= title %></h1>
    <% if (description) {%>
        <h1><%= description %></h1>
    <%}%>
    
    <form method="post" action="/mydata">
        <textarea id="mytextarea">Hello, World!</textarea>
    </form>
    <button class="new-button">Save new</button>
    
    <!--<button id="save-button">Save</button>
    <pre id="output"></pre>-->
    

            
</body>

</html>