<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 id="title_course">
        <%= title %>
    </h1>
    <h2>
        <%= description %>
    </h2>
    <% if (link==null) { %>
        <div>Материал еще не добавлен</div>
        <button id="add_material" onclick="newPage()"><a id="myA"  ></a>Добавить
            материал</button>
        <%} else { %>
            <%- include (link) -%>
                <%}%>
                    <script>
                        function newPage() {
                            let myA = document.getElementById("myA");
                            let text = ("<%= title%>");
                            console.log(text);
                            myA.href = `/test/?q=${text}`;
                            myA.click();
                        }
                    </script>
</body>

</html>