<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../scssAuth/style.css">
</head>
<body class="preview__body">
    <header class="head">
        <div class="role">
            Преподаватель
        </div>
        <div class="container-teach-header">
            <ul class="menu-teach-header">
                <li><a href="/">Главная</a></li>
                <li><a href="/modeling_admin">Модели</a></li>
                <li><a href="/tasks">Практика</a></li>
            </ul>
            <div class="logout"></div>
        </div>
    </header>
    <div class="preview__container">
        <%- include (link)%>
    </div>
</body>
</html>