<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="scssA/style.css">
    
</head>

<body>

    <h1>Это страница преподаы</h1>
    <button id="myBtn">
        добавить новый курс
    </button>

    <div id="myModal" class="modal ">
        <div class="modal-content  form_addperson_block_content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Шапка модального окна</h2>
            </div>
            <div class="modal-body">
                <!--<p>Какой-то текст в теле модального окна</p>
                <p>Ещё другой текст...</p>-->

                <!--<div class="form_addperson_block_content">-->
                <div class="size">
                    <p id="name">Добавление нового курса</p>
                    <form id="form_ed" name="my" class="form_addperson_style" action="/addcurse" method="post">
                        <div class="area">
                            <label>Название</label>
                            <input type="text" name="fio" placeholder="Название курса" required>
                        </div>
                        <div class="area">
                            <label>Описание</label>
                            <input type="email" name="email" placeholder="Описание курса" required>
                        </div>
                       

                        <button class="form_addperson_button" type="submit"
                            name="form_addperson_submit">Создать</button>
                </div>
                </form>
                <!--</div>-->
            </div>

        </div>
    </div>
    <script>
        let modal = document.getElementById('myModal');
        let btn = document.getElementById("myBtn");
        let span = document.getElementsByClassName("close")[0];
        btn.onclick = function () {
            modal.style.display = "block";
        }
        span.onclick = function () {
            modal.style.display = "none";
        }
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

    </script>
</body>

</html>