<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="scssA/style.css">

</head>

<body>

    <h1>Это страница преподаы</h1>
    <button id="btnAddNewCourse">
        добавить новый курс
    </button>
    <div class="course_title">
        <% for(let i=0; i<courses.length; i++){ %>
            <button>
                <%= courses[i].title %>
            </button>
            <%} %>
    </div>


    <div id="modalAddNewCourse" class="modal ">
        <div class="modal-content  form_addperson_block_content">
            <div class="modal-header">
                <span id="closeAddNewCourse" class="close">&times;</span>
                <h2>Шапка модального окна</h2>
            </div>
            <div class="modal-body">
                <!--<p>Какой-то текст в теле модального окна</p>
                <p>Ещё другой текст...</p>-->

                <!--<div class="form_addperson_block_content">-->
                <div class="size">
                    <p id="name">Добавление нового курса</p>
                    <form id="form_ed" name="my" class="form_addperson_style" action="/teach-addcurse" method="post">
                        <div class="area">
                            <label>Название</label>
                            <input type="text" name="title" placeholder="Название курса" required>
                        </div>
                        <div class="area">
                            <label>Описание</label>
                            <textarea name="description" placeholder="Описание курса" required></textarea>
                        </div>
                        <button class="form_addperson_button" type="submit"
                            name="form_addcurse_submit">Добавить</button>
                </div>
                </form>
                <!--</div>-->
            </div>

        </div>
    </div>
    <form id="formshowcurse" name="formshowcurse" action="/teach-showcurse" method="get">
        <input type="text" name="titlecourse" >
    </form>
    <script src="admin.js" defer></script>
    <script>
        
        let course = document.querySelector(".course_title");
        console.log(course);
        course.addEventListener("click", (event) => {
            let target = event.target;
            if (target.tagName == "BUTTON") {
                courseTitle = target.innerHTML;
                courseTitle = courseTitle.trim();
                course_form=document.getElementById('formshowcurse');
                console.log(course_form);
                course_form.titlecourse.value = courseTitle;
                course_form.submit();
            }

        })

    </script>
</body>

</html>