<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="scssAuth/style.css">
    <title>Document</title>
</head>
<body>
    <header class="head">
        <div class="role">
            Обучаемый
        </div>
        <div class="container-user-header">
            <ul class="menu-user-header">
                <li><a href="/">Главная</a></li>
                <li><a href="/modeling">Моделирование</a></li>
            </ul>
            <div class="logout"></div>
        </div>
        
    </header>
    <h1>Это страница обучаемого</h1>
</body>
</html>