
@import 'settingsContainer';
@import 'table';
@import 'plot';
@import 'generated';
@import 'chart';

.modeling-content {
    margin: 50px;
    margin-top: 80px;
}

.visual-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.blockTask {
    border-radius: 10px;
    background-color: #CDCDDF;
    padding: 10px;
}
.buttonSaveTask{
    @include buttonDefault($height: 30px, $width: 100%, $fsize: 14px)
}