@import 'parts/vars';
@import 'parts/fonts';
@import 'parts/mixins/font';
@import 'parts/mixins/buttons';
@import 'parts/mixins/input';
@import 'parts/mixins/icon';
@import 'parts/pages/auth';
@import 'parts/modal';
@import 'parts/header';
@import 'parts/pages/admin';
@import 'parts/mixins/table';
@import 'parts/nav';
@import 'parts/pages/teachCourse';
@import 'parts/pages/teachStudents';

@import 'parts/pages/course';
@import 'parts/pages/addMaterial';
@import 'parts/pages/userHeader';
@import 'parts/pages/teachHeader';
@import 'parts/pages/modelingAdmin';


@import 'parts/modeling/main';

@import 'parts/pages/addTest';
@import 'parts/pages/tasks';
@import 'parts/pages/preview';
@import 'parts/pages/student';
@import 'parts/pages/user';
//all css
* {
    margin: 0;
    box-sizing: border-box;
    @include fontReg();
}
#form-tiny{
    margin-top: 50px;
}
.add-material__content{
    display: flex;
    flex-direction: column;
}
#tiny-button{
    @include buttonDefault($height: 50px, $width: 200px, $fsize: $fsizeH2);
    align-self: flex-end;
    justify-self: left;
}

//table

