@font-face {
  font-family: "Mont";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Montserrat/static/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Mont";
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/Montserrat/static/Montserrat-SemiBold.ttf");
}
.auth {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.information {
  background-color: #03045E;
  margin-left: -50vw;
  width: 100vw;
  transform: skewX(-20deg);
  z-index: -1;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.inf-cont {
  transform: skewX(20deg);
  color: white;
  width: 30%;
  margin-right: 10%;
}
.inf-cont h1 {
  font-size: 30px;
  font-family: "Mont";
  font-weight: 600;
  font-style: normal;
  margin-bottom: 20px;
}
.inf-cont p {
  font-size: 20px;
  font-family: "Mont";
  font-weight: 400;
  font-style: normal;
}

.auth__container {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.auth__container .auth__title {
  margin-bottom: 30px;
  color: #03045E;
  font-size: 24px;
}

.auth__form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.auth__input-cont {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.auth__input {
  width: 400px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #03045E;
  font-size: 20px;
  padding-left: 20px;
  color: #03045E;
}
.auth__input::-moz-placeholder {
  color: #0077B6;
}
.auth__input::placeholder {
  color: #0077B6;
}
.auth__input:focus {
  background-color: rgba(1, 186, 179, 0.1);
  border: 1px solid #03045E;
  border-color: #03045E;
  border-radius: 5px;
  outline: 0;
}

.auth__button {
  margin-top: 10px;
  height: 50px;
  width: 400px;
  background-color: #03045E;
  color: white;
  border: 0px;
  border-radius: 5px;
  font-size: 24px;
  font-family: "Mont";
  font-weight: 600;
  font-style: normal;
}
.auth__button:hover {
  background-color: #0077B6;
  cursor: pointer;
}
.auth__button:disabled {
  background-color: #CAF0F8;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.modal {
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  display: none;
}

.modal_close {
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  top: 10px;
  right: 10px;
  float: right;
  background-image: url("/img/CloseModal.svg");
}
.modal_close:hover, .modal_close:focus {
  cursor: pointer;
  transform: scale(1.2);
}

.modal_close_white {
  background-image: url("/img/CloseModalWhite.svg");
}

.modal_body-confirm {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  row-gap: 10px;
}
.modal_body-confirm p {
  font-family: "Mont";
  font-weight: 400;
  font-style: normal;
  color: #03045E;
  font-size: 24px;
}

.modal_content-warning {
  background-color: white;
  position: relative;
  margin: auto;
  margin-bottom: auto;
  margin-top: 10%;
  width: 450px;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal_content-question {
  background-color: white;
  position: relative;
  margin: auto;
  margin-bottom: auto;
  margin-top: 10%;
  width: 450px;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal_content-form {
  background-color: white;
  position: relative;
  margin: auto;
  margin-bottom: auto;
  margin-top: 1.5%;
  width: 525px;
  height: 95%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.yes {
  height: 40px;
  width: 100px;
  background-color: #03045E;
  color: white;
  border: 0px;
  border-radius: 5px;
  font-size: 24px;
}
.yes:hover {
  background-color: #0077B6;
  cursor: pointer;
}
.yes:disabled {
  background-color: #CAF0F8;
}

.no {
  height: 40px;
  width: 100px;
  background-color: white;
  color: #03045E;
  border: 0px;
  border-radius: 5px;
  font-size: 24px;
}
.no:hover {
  background-color: #CAF0F8;
  cursor: pointer;
}
.no:disabled {
  color: #CAF0F8;
}

.modal-confirm {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  justify-self: end;
  align-self: end;
  justify-content: space-around;
}

.buttons-confirm {
  width: 100%;
  margin-top: 20px;
  align-self: end;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.modal_header {
  width: 100%;
  height: 40px;
  background-color: #03045E;
  color: white;
  font-family: "Mont";
  font-weight: 400;
  font-style: normal;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-size: 20px;
}

.modal form {
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.input-area {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.input-area input {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #03045E;
  font-size: 18px;
  padding-left: 20px;
  color: #03045E;
}
.input-area input::-moz-placeholder {
  color: #0077B6;
}
.input-area input::placeholder {
  color: #0077B6;
}
.input-area input:focus {
  background-color: rgba(1, 186, 179, 0.1);
  border: 1px solid #03045E;
  border-color: #03045E;
  border-radius: 5px;
  outline: 0;
}

.modal_body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.role-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.input-area-date {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: start;
}
.input-area-date input {
  width: 180px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #03045E;
  font-size: 18px;
  padding-left: 20px;
  color: #03045E;
}
.input-area-date input::-moz-placeholder {
  color: #0077B6;
}
.input-area-date input::placeholder {
  color: #0077B6;
}
.input-area-date input:focus {
  background-color: rgba(1, 186, 179, 0.1);
  border: 1px solid #03045E;
  border-color: #03045E;
  border-radius: 5px;
  outline: 0;
}

.form-radio-group {
  display: flex;
  flex-direction: column;
}
.form-radio-group .form_radio_group-item {
  display: block;
  margin-bottom: 10px;
}
.form-radio-group .form_radio_group-item input[type=radio] {
  display: none;
}
.form-radio-group .form_radio_group-item input[type=radio]:checked + label {
  background-color: #03045E;
  color: white;
}
.form-radio-group .form_radio_group-item label {
  display: block;
  width: 180px;
  height: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  background-color: white;
  color: #03045E;
  border: 1px solid #03045E;
  border-radius: 5px;
  font-size: 18px;
}
.form-radio-group .form_radio_group-item label:hover {
  background-color: #CAF0F8;
}

.form_button {
  height: 40px;
  width: 250px;
  background-color: #03045E;
  color: white;
  border: 0px;
  border-radius: 5px;
  font-size: 20px;
  align-self: center;
}
.form_button:hover {
  background-color: #0077B6;
  cursor: pointer;
}
.form_button:disabled {
  background-color: #CAF0F8;
}

.head {
  background-color: #03045E;
  width: 100%;
  height: 50px;
  color: white;
  font-family: "Mont";
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.head .role {
  margin-left: 50px;
  cursor: default;
}
.head .logout {
  margin-right: 50px;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(/img/Exit.svg);
}
.head .logout:hover, .head .logout:focus {
  cursor: pointer;
  transform: scale(1.2);
}

.admin-container {
  margin-top: 50px;
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}

.admin-container_head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.table {
  margin-top: 20px;
  border: 1px solid #03045E;
  border-radius: 15px;
  border-spacing: 0;
  text-align: left;
  font-size: 16px;
}
.table th {
  font-family: "Mont";
  font-weight: 600;
  font-style: normal;
  color: #03045E;
}
.table td, .table th {
  height: 40px;
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.25) inset;
  padding-left: 10px;
  padding-right: 10px;
}

.delete-icon {
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(/img/Delete.svg);
}
.delete-icon:hover, .delete-icon:focus {
  cursor: pointer;
  transform: scale(1.2);
}

.edit-icon {
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(/img/Edit.svg);
}
.edit-icon:hover, .edit-icon:focus {
  cursor: pointer;
  transform: scale(1.2);
}

.admin-table_name {
  font-family: "Mont";
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  color: #03045E;
}

.add-user_button {
  height: 40px;
  width: 200px;
  background-color: #03045E;
  color: white;
  border: 0px;
  border-radius: 5px;
  font-size: 20px;
}
.add-user_button:hover {
  background-color: #0077B6;
  cursor: pointer;
}
.add-user_button:disabled {
  background-color: #CAF0F8;
}

.modal_content-formUserEdit {
  background-color: white;
  position: relative;
  margin: auto;
  margin-bottom: auto;
  margin-top: 2.5%;
  width: 525px;
  height: 85%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Mont";
  font-weight: 400;
  font-style: normal;
}/*# sourceMappingURL=style.css.map */