<p>Принтер <span lang="EN-US" style="mso-ansi-language: EN-US;">Up</span>! <span lang="EN-US" style="mso-ansi-language: EN-US;">Mini</span> 3<span lang="EN-US" style="mso-ansi-language: EN-US;">D</span> <span lang="EN-US" style="mso-ansi-language: EN-US;">Printer</span> имеет следующие т<span style="mso-bidi-font-size: 13.0pt; line-height: 130%;">ехнические данные:</span></p>
<ol>
<li class="MsoNormal" style="background: white;"><span style="mso-bidi-font-size: 13.0pt; line-height: 130%; mso-fareast-font-family: 'Times New Roman';">максимальные размеры получаемого отпечатка: 120x120x120мм;</span></li>
<li class="MsoNormal" style="background: white;"><span style="mso-bidi-font-size: 13.0pt; line-height: 130%; mso-fareast-font-family: 'Times New Roman';">Z-разрешение: 0.2/0.25/0.3/0.35мм;</span></li>
<li class="MsoNormal" style="background: white;"><span style="mso-bidi-font-size: 13.0pt; line-height: 130%; mso-fareast-font-family: 'Times New Roman';">прилагаемое программное обеспечение: UP;</span></li>
<li class="MsoNormal" style="background: white;"><span style="mso-bidi-font-size: 13.0pt; line-height: 130%; mso-fareast-font-family: 'Times New Roman';">поддерживаемые форматы файлов: STL, UP3, UPP;</span></li>
<li class="MsoNormal" style="background: white;"><span style="mso-bidi-font-size: 13.0pt; line-height: 130%; mso-fareast-font-family: 'Times New Roman';">возможности подключения: USB;</span></li>
<li class="MsoNormal" style="background: white;"><span style="mso-bidi-font-size: 13.0pt; line-height: 130%; mso-fareast-font-family: 'Times New Roman';">адаптер питания: 110-240ВАХ, 50-60Гц, 220Вт;</span></li>
<li class="MsoNormal" style="background: white;"><span style="mso-bidi-font-size: 13.0pt; line-height: 130%; mso-fareast-font-family: 'Times New Roman';">размеры принтера: 240(Ш) x 355 (В) x 240 (Г) мм.</span></li>
</ol>