<p>Это материал нового тестового курса для демострации работоспособности программы.</p>
<p>Создание списков:</p>
<ul>
<li>новый</li>
<li>очень новый</li>
</ul>
<p><strong>Жирный</strong>, <em>курсив</em>, <span style="text-decoration: underline;">подчеркнутый</span>, <s>зачеркнутый</s></p>
<p style="text-align: right;">Право</p>
<p style="text-align: center;">Центр</p>
<p>&nbsp;</p>