.student__container{
    margin-top: 80px;
    margin-right: 50px;
    margin-left: 50px;
}
.add_education_btn{
    @include buttonDefault(30px, 200px, 16px);
    
}
.select_course_btn{
    @include buttonDefault(40px, 100%, 16px);
    justify-self: center;
}
.select_practic_btn{
    @include buttonDefault(40px, 100%, 16px);
}
.save_select_course_btn{
    @include buttonDefault(40px, 100%, 16px);
}
.save_select_practic_btn{
    @include buttonDefault(40px, 100%, 16px);
}
.save_protocol_score_btn{
    @include buttonDefault(40px, 100%, 16px);
}
.getTested_btn{
    @include buttonDefault(40px, 200px, 16px);
    margin-top: 20px;
}
.gettestedlink{
    color: white;
    text-decoration: none;
}
.test-page-container{
    margin-top: 80px;
    margin-right: 50px;
    margin-left: 50px;
}
.question__container_on_test{

    width: 40%;
    border: 1px solid $base-color;
    border-radius: 25px;
    
    margin-top: 30px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    form{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    input {
        @include inputText(400px, 25px, 16px);
    }

    input[type='date'],
    input[type='number'] {
        width: 100px;
        padding-left: 5px;
        font-size: 12px;
    }

    textarea {
        width: 100%;
        height: 50px;
        border-radius: 5px;
        border: 1px solid $base-color;
        font-size: 16px;
        padding-left: 20px;
        color: $base-color;

        &::placeholder {
            color: $dark-thirdly;
        }

        &:focus {
            background-color: $base-color-trans;
            border: 1px solid $base-color;
            border-color: $base-color;
            border-radius: 5px;
            outline: 0;
        }
    }

    button {
        @include buttonDefault(30px, 200px, 14px);
        justify-self: center;
        align-self: center;
    }
    .score{
        align-self: end;
        input{
            align-self: flex-end;
        }
    }
    .col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;
    }
    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .col:last-child{
        justify-content: end;
    }
    .area{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .radio-row{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    input[type='radio'], input[type='checkbox']{
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }
    .add-button{
        @include buttonOutline(30px, 220px, 14px);
        padding-left: 25px;
        align-self: start;
        background-image: url(../../../img/Add.svg);
        background-repeat: no-repeat;
        background-position: left center;
    }
    label{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
.complete-test{
    @include buttonDefault(40px, 300px, 16px);
    margin-top: 20px;
    margin-bottom: 20px;
}
.education_container{
    background-color: $base-color-trans;
    border: 1px solid $base-color;
    border-color: $base-color;
    border-radius: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px 10px;
    a{
        text-decoration: none;
    }
}
.educations_container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.protocol_table{
    border: 1px solid #dddddd;
    border-collapse: collapse;
    td{
        border: 1px solid $base-color;
        vertical-align: top;
    }
}