@font-face {
  font-family: "Nunito";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/static/Nunito-Regular.ttf");
}
@font-face {
  font-family: "Nunito";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/static/Nunito-Medium.ttf");
}
@font-face {
  font-family: "Nunito";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/static/Nunito-Bold.ttf");
}
* {
  margin: 0;
  block-size: border-box;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

.form_addperson_block {
  display: flex;
  justify-content: center;
  min-width: 100%;
}

.form_addperson_block_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px dashed #01BAB3;
  border-radius: 15px;
  width: 500px;
}

#name {
  font-size: 24px;
  color: #01BAB3;
}

.size {
  width: 414px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.area {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.area input {
  max-width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #01BAB3;
  font-size: 20px;
  padding-left: 25px;
  color: black;
}

.form_addperson_style {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 20px;
  margin-top: 15px;
}

.role-date {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: start;
}
.role-date .date {
  align-self: start;
  justify-self: center;
  min-width: 158px;
  max-width: 158px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.role-date .date input {
  max-width: 150px;
  height: 25px;
}
.role-date .date label {
  margin-top: 0;
  margin-bottom: 15px;
}

.form-radio-group {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.form_radio_group-item {
  border: 1px solid #01BAB3;
  border-radius: 5px;
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(1, 186, 179, 0.1);
}
.form_radio_group-item label {
  margin-top: 0;
  color: #01BAB3;
}
.form_radio_group-item input:checked {
  background-color: red;
}

::-moz-placeholder {
  color: #01BAB3;
}

::placeholder {
  color: #01BAB3;
}

:focus {
  background-color: rgba(1, 186, 179, 0.1);
  border: 1px solid #01BAB3;
  border-color: #01BAB3;
  border-radius: 5px;
  outline: 0;
}

.form_addperson_button {
  width: 207px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #01BAB3;
  background: #01BAB3;
  color: white;
  font-size: 20px;
  margin-top: 15px;
}

.info {
  display: none;
  width: 100px;
  height: 100px;
  border-color: bisque;
}

table {
  font-size: 20px;
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
}

th {
  background: #01BAB3;
  color: white;
  padding: 10px 20px;
}

th, td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}

th:first-child, td:first-child {
  text-align: left;
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
  border-right: none;
}

td {
  padding: 10px 20px;
  background: rgba(1, 186, 179, 0.1);
}

tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}

tr td:last-child {
  border-right: none;
}

#myBtn {
  background-color: #01BAB3;
  color: white;
  padding: 12px 16px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  width: 180px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 0;
  border: 5px solid #01BAB3;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #01BAB3;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}/*# sourceMappingURL=style.css.map */